%header.page-title
  Profil
  %h3.dblue= current_user.name

  = link_to t("simple_form.labels.defaults.signout"), destroy_user_session_path, :method => :get, :class => "shybtn logout-btn"

- if notice
  .notice.info= notice

- if alert
  .notice.error= alert
  
#account-page.row-fluid
  .span12
    .tabbables-not
      %ul.nav.nav-tabs
        = user_tab_link "Votre profil", edit_user_path(current_user), "users"
        - if current_account.manager?(current_user)
          = user_tab_link "Compte", edit_account_path, "accounts"
          = user_tab_link "Projets artistiques", projects_path, "projects"
      .tab-content
        = yield :user_tab
        - if current_account.manager?(current_user)
          = yield :account_tab
          = yield :projects_tab
