- content_for :account_tab do
  #account.tab-pane.notedit.active
    .row-fluid
      %section.span6
        %h4 Nom et domaine
        = simple_form_for(@account, url: account_path) do |f|
          = f.input :name
          = f.input :domain, label: "Le préfixe de votre nom de domaine :", wrapper: "append" do
            = f.input_field :domain
            %span.add-on .merciedgar.com
          %p
          = f.button :submit, class:'btn-primary'

      %section.span6
        %h4 Adhésion association Merci Edgar
        %p
          - if @account.trial_period_ended?
            - if @account.subscription_up_to_date?
              .badge.inline ADHERENT
              .badge.inline= @account.plan
              = "Votre adhésion expire le #{l(@account.subscription_lasts_at)}"
              %p= link_to 'Modifier votre adhésion', edit_subscription_path, class:'btn btn-primary'
            - else
              .badge.inline EXPIRATION
              Votre adhésion a expiré 
              = "le #{l(@account.subscription_lasts_at)}" if @account.subscription_lasts_at.present?
          - else
            .badge.inline PERIODE D'ESSAI
            = "jusqu'au #{l(@account.trial_period_lasts_at)}"
            = link_to "J'adhere", new_subscription_path, class:'btn btn-primary'

      %section.span6
        %h4 Export
        %p
          = link_to 'Exporter le compte', new_contacts_export_path, class:'btn btn-secondary'

    .row-fluid
      %section.span6
        %h4 Utilisateurs
        %ul.list.list-small#users-list
          - @account.users.each do |user|
            %li
              .meta
                .badge.badge-red
                  = user.confirmed? ? t(user.current_abilitation.kind) : "Invitation envoyée"
              .actions
                = link_to account_abilitation_path(user.current_abilitation), method: :delete, data: { confirm: "Are you sure ?" }, class: "shybtn" do
                  %i.entypo.edi-cross
              %a{href: "#"}
                %h3= user.name
                .pic.pic-user= image_tag user.avatar
              %span.infos-line
                %a= user.email

          %li.btn-in-list
            = link_to new_account_abilitation_path(account_id: current_account.id), remote:true do
              %i.entypo.edi-plus3
              %span
                Ajouter un utilisateur

= render 'devise/shared/profile'
